@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

li {
  width: 2em;
  height: 2em;
  text-align: center;
  line-height: 2em;
  border-radius: 1em;
  margin: 0 1em;
  display: inline-block;
  color: white;
  position: relative;
}

li::before {
  content: "";
  position: absolute;
  top: 0.9em;
  left: -4em;
  width: 4em;
  height: 0.1em;
  background: #5046E4;
  z-index: -1;
}

li:first-child::before {
  display: none;
}

.active {
  background: #5046E4;
}

.active~li {
  background: lightblue;
}

.active~li::before {
  background: lightblue;
  left: -2em;
}

.input-radio input[type="radio"] {
  display: none;
}
